# set 만들기
set은 수학의 집합과 비슷한 형태로 중복되는 데이터의 입력을 허용하지 않고 입력되는 데이터의 순서와 실제로 저장되는 순서가 달라서 인덱싱과 슬라이싱을 사용할 수 없다.  
딕셔너리처럼 {}를 사용해서 데이터를 감싸주지만 key가 존재하지 않고 vlaue들만 존재한다.

In [3]:
# 빈 set 만들기
a = {} # 빈 set은 {}를 사용해서 만들 수 없다. => 딕셔너리로 인식한다.
print(type(a))

# 빈 set을 만들 때 {}만 사용하면 딕셔너리가 생성되기 때문에 반드시 생성자 함수를 사용해서 만들어 사용한다.
b = set()
print(type(b))
print(b)

<class 'dict'>
<class 'set'>
set()

In [4]:
a = {1, 2, 3, 4}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [6]:
# 생성자 함수의 인수로 리스트나 튜플을 넘겨받아 set을 만들 수 있다.
a = set([1, 2, 3, 4])
print(type(a))
print(a)
b = set((1, 2, 3, 4))
print(type(b))
print(b)

<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4}

In [7]:
# set은 중복되는 데이터의 입력을 허용하지 않는다.
a = {1, 5, 1, 1, 1, 1, 3, 5, 7, 7}
print(a)

{1, 3, 5, 7}

In [12]:
# add() 메소드로 데이터를 1건씩 추가할 수 있다.
a = set()
print(a)
a.add('홍길동')
print(a)
a.add('임꺽정')
print(a)
a.add('장길산')
print(a)
a.add('일지매')
print(a)

set()
{'홍길동'}
{'홍길동', '임꺽정'}
{'홍길동', '장길산', '임꺽정'}
{'홍길동', '장길산', '일지매', '임꺽정'}

In [18]:
# update() 메소드로 리스트나 튜플에 저장된 데이터를 set에 일괄적으로 추가할 수 있다.
a = {'홍길동', '장길산', '일지매', '임꺽정'}
print(a)
print('=' * 80)

b = ['손오공', '저팔계', '사오정', '삼장법사']
print(b)
a.update(b)
print(a)
print('=' * 80)

c = '피콜로', '마인부우', '베지터', '프리저'
print(c)
a.update(c)
print(a)

{'홍길동', '장길산', '일지매', '임꺽정'}
================================================================================
['손오공', '저팔계', '사오정', '삼장법사']
{'홍길동', '손오공', '일지매', '장길산', '사오정', '임꺽정', '저팔계', '삼장법사'}
================================================================================
('피콜로', '마인부우', '베지터', '프리저')
{'홍길동', '손오공', '일지매', '피콜로', '마인부우', '베지터', '장길산', '사오정', '프리저', '임꺽정', '저팔계', '삼장법사'}

In [21]:
# remove() 메소드로 인수로 지정한 데이터를 set에서 제거한다.
a = {'홍길동', '장길산', '일지매', '임꺽정'}
print(a)

a.remove('장길산')
print(a)
a.remove('장길산') # set에 존재하지 않는 데이터를 삭제하려 했으므로 에러가 발생된다.
print(a)

{'홍길동', '장길산', '일지매', '임꺽정'}
{'홍길동', '일지매', '임꺽정'}

KeyError: '장길산'

In [22]:
# discard() 메소드로 인수로 지정한 데이터를 set에서 제거한다.
a = {'홍길동', '장길산', '일지매', '임꺽정'}
print(a)

a.discard('장길산')
print(a)
a.discard('장길산') # set에 존재하지 않는 데이터를 삭제하려해도 에러가 발생되지 않는다.
print(a)

{'홍길동', '장길산', '일지매', '임꺽정'}
{'홍길동', '일지매', '임꺽정'}
{'홍길동', '일지매', '임꺽정'}

In [25]:
# clear() 메소드로 set에 저장된 모든 데이터를 제거할 수 있다.
a = {'홍길동', '장길산', '일지매', '임꺽정'}
print(a)

a.clear()
print(a)

# del 명령을 사용해서 set 자체를 메모리에서 제거할 수 있다.
del a
print(a)

{'홍길동', '장길산', '일지매', '임꺽정'}
set()

NameError: name 'a' is not defined

# 집합 연산

In [37]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

# 합집합 => union(), |
print(a.union(b))
print(a | b)

# 교집합 => intersection(), &
print(a.intersection(b))
print(a & b)

# 차집합 => difference(), -
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

# 대칭 차집합: 합집합 - 교집합, symmetric_difference(), ^
print((a | b) - (a & b))
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{6, 7}
{6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}