# 출장비로 지급할 화폐 매수 계산하기

<img src="money_1.png" width="1000" align="left"/>

<img src="money_2.png" width="1000" align="left"/>

<img src="money_3.png" width="1000" align="left"/>

In [9]:
pm = [0 for i in range(10)] # 개인별 화폐 매수를 기억할 리스트를 선언한다.
tm = [0 for i in range(10)] # 전체 화폐 매수를 기억할 리스트를 선언한다.
# print(pm, tm)

# 이름에 'quit'가 입력될 때 까지 반복하며 화폐 매수를 계산한다.
while True:
    n, p = input('이름과 출장비를 입력하세요: ').split()
    if n.lower() == 'quit':
        break
    
    t = int(p) # 나중에 입력받은 출장비를 출력하기 위해 출장비의 복사본을 만든다.
    m = 50000  # 화폐 매수를 계산할 화폐 권종을 초기화시킨다.
    sw = 1     # 화폐 권종 변경에 사용할 스위치(toggle) 변수
    
    # 화폐 권종의 개수만큼 반복하며 개인별 출장비의 화폐 매수를 계산한다.
    for k in range(10):
        pm[k] = t // m # 권종별 화폐 매수를 계산한다.
        t %= m         # 다음 화폐 권종의 매수를 계산하기 위해 권종별 화폐 매수를 계산하고 남은 나머지 금액을 계산한다.
        # 다음 화폐 권종을 계산한다.
        if sw == 1:
            m //= 5; sw = 0
        else:
            m //= 2; sw = 1
    # ===== for
    
    # 이름과 개인별 화폐 권종 수를 출력하고 전체 화폐 매수를 계산한다.
    print(n, p, end=' ')
    for k in range(10):
        print(pm[k], end=' ')
        tm[k] += pm[k] # 전체 화폐 매수를 계산한다.
    # ===== for
    print()
# ===== while
print(tm)

이름과 출장비를 입력하세요: 강감찬 537620
강감찬 537620 10 3 1 2 1 1 0 2 0 0
이름과 출장비를 입력하세요: 김유신 538972
김유신 538972 10 3 1 3 1 4 1 2 0 2
이름과 출장비를 입력하세요: 홍길동 173105
홍길동 173105 3 2 0 3 0 1 0 0 1 0
이름과 출장비를 입력하세요: quit 0
[23, 8, 2, 8, 2, 6, 1, 4, 1, 2]

In [11]:
# 개인별 이름과 출장비, 출장비에 따른 화폐 권종별 화폐 매수를 기억하는 클래스
class Money:
    def __init__(self, name, money):
        self.name = name
        self.money = money
        # 개인별 화폐 매수를 계산한다.
        self.pm = [0 for i in range(10)]
        t = money
        m = 50000
        sw = 1
        for i in range(10):
            self.pm[i] = t // m
            t %= m
            if sw == 1:
                m //= 5; sw = 0
            else:
                m //= 2; sw = 1
        # ===== for
    # ===== __init__
    
    def __str__(self):
        return '{} {} {}'.format(self.name, self.money, self.pm)

In [15]:
money = Money('홍길동', 123456)
print(money.name)
print(money.money)
print(money.pm)
print(money)

홍길동
123456
[2, 2, 0, 3, 0, 4, 1, 0, 1, 1]
홍길동 123456 [2, 2, 0, 3, 0, 4, 1, 0, 1, 1]

In [16]:
m = []
while True:
    n, p = input('이름과 출장비를 입력하세요: ').split()
    if n.lower() == 'quit':
        break
    money = Money(n, int(p))
    m.append(money)

이름과 출장비를 입력하세요: 강감찬 537620
이름과 출장비를 입력하세요: 김유신 838973
이름과 출장비를 입력하세요: 홍길동 173105
이름과 출장비를 입력하세요: quit 0

In [17]:
for i in m:
    print(i)

강감찬 537620 [10, 3, 1, 2, 1, 1, 0, 2, 0, 0]
김유신 838973 [16, 3, 1, 3, 1, 4, 1, 2, 0, 3]
홍길동 173105 [3, 2, 0, 3, 0, 1, 0, 0, 1, 0]

In [30]:
print('출장비 지급 일람표')
print('=' * 80)
print(' 이름        출장비 50000 10000  5000  1000   500   100    50    10     5     1')
print('=' * 80)
tm = [0 for i in range(10)]
for i in m:
    print('{:5s} {:10,d}'.format(i.name, i.money), end='')
    for j in range(10):
        print('{:6d}'.format(i.pm[j]), end='')
        tm[j] += i.pm[j]
    # ===== for j
    print()
# ===== for i
print('=' * 80)
print('합계:              ', end='')
for i in range(10):
        print('{:6d}'.format(tm[i]), end='')
print('\n' + '=' * 80)

출장비 지급 일람표
================================================================================
 이름        출장비 50000 10000  5000  1000   500   100    50    10     5     1
================================================================================
강감찬      537,620    10     3     1     2     1     1     0     2     0     0
김유신      838,973    16     3     1     3     1     4     1     2     0     3
홍길동      173,105     3     2     0     3     0     1     0     0     1     0
================================================================================
합계:                  29     8     2     8     2     6     1     4     1     3
================================================================================