리스트와 함께 사용하는 for

In [11]:
a = ['Life', 'is', 'too', 'Good']
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a[1:3]:
    print(i)

['Life', 'is', 'too', 'Good']
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
is
too

튜플과 함께 사용하는 for

In [12]:
a = 'Life', 'is', 'too', 'Good'
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a[1:3]:
    print(i)

('Life', 'is', 'too', 'Good')
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
is
too

set과 함께 사용하는 for

In [16]:
a = {'Life', 'is', 'too', 'Good'}
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

'''
for i in range(len(a)):
    print(a[i]) # set은 입력되는 순서와 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.
print('=' * 80)

for i in a[1:3]: # set은 입력되는 순서와 저장되는 순서가 달라서 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
'''
pass

{'is', 'Good', 'Life', 'too'}
================================================================================
is
Good
Life
too
================================================================================

딕셔너리와 함께 사용하는 for

In [20]:
a = {'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 10000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [25]:
for key in a: # 딕셔너리 이름만 쓰면 딕셔너리이름.keys()와 같은 의미로 사용된다.
    print(key)
print('=' * 80)

for key in a.keys():
    print(key)
print('=' * 80)

for value in a.values():
    print(value)
print('=' * 80)

for item in a.items():
    print(item)

apple
banana
melon
mango
================================================================================
apple
banana
melon
mango
================================================================================
1000
3500
10000
5000
================================================================================
('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)

In [28]:
# key 값을 이용해서 value 얻어오기
for key in a.keys():
    print(a[key]) # 딕셔너리이름[key]
print('=' * 80)

for key in a.keys():
    print(a.get(key)) # 딕셔너리이름.get(key)

1000
3500
10000
5000
================================================================================
1000
3500
10000
5000

In [35]:
# item 값을 이용해서 key, value 얻어오기
for item in a.items():
    print(item)
print('=' * 80)

for item in a.items():
    print('{}는(은) {:,}'.format(item[0], item[1]))
print('=' * 80)

for key, value in a.items():
    print('{}는(은) {:,}'.format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
================================================================================
apple는(은) 1,000
banana는(은) 3,500
melon는(은) 10,000
mango는(은) 5,000
================================================================================
apple는(은) 1,000
banana는(은) 3,500
melon는(은) 10,000
mango는(은) 5,000

zip() 함수는 서로 다른 데이터를 나열하는 객체를 반복 가능한 형태로 묶어준다.

In [36]:
for index, data in zip([1, 2, 3], ['java', 'jsp', 'python']):
    print(index, data)

1 java
2 jsp
3 python